.promo {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
  padding: 32px 40px !important;
  border-right: 1px solid #9f9f9f;
}

.promo h2 {
  color: #6a4029;
  font-size: 25px;
  font-weight: bold;
}

.promo h4 {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  margin-bottom: 32px;
}

.promo__banner:nth-child(1) {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  background-color: #88b788;
  border-radius: 20px;
}
.promo__banner:nth-child(2) {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  background-color: #f5c361;
  border-radius: 20px;
}
.promo__banner:nth-child(3) {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  background-color: #88b788;
  border-radius: 20px;
}
.promo__banner:nth-child(4) {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  background-color: #c59378;
  border-radius: 20px;
}

.promo__banner--img img {
  width: 120px !important;
  height: 150px !important;
}

.promo__banner--desc p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 5px 1px;
}

.promo__banner--desc h4 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.promo__button {
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  background-color: #6a4029;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 40px 0;
}

.promo__rules--desc {
  text-align: start;
}

.promo__rules--desc h4 {
  font-size: 12px;
  font-weight: bold;
  color: #4f5665;
  margin: 0;
}

.promo__rules--desc p {
  font-size: 12px;
  font-weight: 400;
  color: #4f5665;
  margin: 0;
}

.product {
  padding: 32px 40px !important;
}

.product__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  overflow-x: auto;
}

.product__filter button {
  color: #6a4029;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin: 0 12px 0 0;
  /* width: 100%; */
  border: none;
  background-color: #fff;
  /* outline: none; */
}

.product__filter h2 {
  color: #6a4029;
  font-size: 20px;
  font-weight: 700;
  /* margin: 0; */
  margin: 0 12px 0 0;
}

/* .product__filter button:enabled:active {
  background-color: green;
}

.product__filter button:disabled {
  opacity: 0.5;
} */

/* .product__filter h2:active {
  background-color: red;
}

.product__filter h2:disabled {
  background-color: gray;
} */

.product__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
  justify-content: space-between;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
}

.product__list img {
  border-radius: 50%;
  height: 80px !important;
  width: 90px !important;
  object-fit: cover;
  margin-top: -50px;
}

.product__list h2 {
  font-size: 22px;
  font-weight: 900;
  color: #000;
}

.product__list h4 {
  color: #6a4029;
  font-size: 17px;
  font-weight: bold;
}

.product__button {
  border: none;
  padding: 25px;
  width: 100%;
  border-radius: 20px;
  background-color: #6a4029;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.product__icon {
  display: flex;
  justify-content: space-between;
}

.product__icon--trash {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #0b132a;
  margin-top: -25px;
}

.product__icon--pencil {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #6a4029;
  margin-top: -25px;
}
.promo__manage-action {
  display: flex;
  position: absolute;
  top: auto;
  left: auto;
  right: 68%;
  margin-top: 8rem;
  bottom: auto;
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size__cup {
  background-color: #ffba33;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 70px !important;
  height: 70px !important;
  margin: 12px 12px 0 0 !important;
}

.size__cup p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.size__gr {
  background-color: #bababa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 70px !important;
  height: 70px !important;
  margin: 12px 12px 0 0 !important;
}

.size__gr--col {
  text-align: center;
}

.size__gr--col p {
  margin: 0;
}

.product-form-input-parent {
  display: flex;
  flex-direction: column;
}

.product-form-input-parent label {
  color: #6a4029;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 24px;
}

.product-form-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #4f5665;
  color: #9f9f9f;
  font-size: 20px;
  margin-bottom: 24px;
}

.description-size p {
  color: #9f9f9f;
  font-size: 20px;
  font-weight: 400;
}

.product-form-select {
  outline: none;
  border: none;
  border-bottom: 1px solid #4f5665;
  background-color: #fff;
  color: #9f9f9f;
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 24px;
}

.file__image--active {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.size__button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background: #adadad;
  line-height: 70px;
  font-size: 20px !important;
}

.size {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}

.size__input:checked + .size__button {
  background: #ffba33;
}

.change__color .size__button {
  background: #ffba33;
}

.change__color {
  display: flex;
  justify-content: space-around;
}

label.size__button {
  /* margin: 12px; */
  margin-right: 12px;
}
