@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

.navbar-auth {
  padding: 20px;
}
.button-nav-auth {
  width: 150px;
}

.auth-form {
  padding-top: 50px;
}
.button-submit {
  width: 100%;
}
.register-title {
  text-align: center;
  color: #6a4029;
  padding-top: 50px;
}

.image-google {
  width: 27px;
  height: 28px;
}

/* Login */
.forgot-password {
  color: #6a4029 !important;
}
.forgot-password:hover {
  color: #6a4029;
}
/* Register */

/* Footer */
footer {
  background-color: #f8f8f8;
}

.footer-left {
  padding: 50px;
}

.footer-auth-button {
  margin: 10px;
}

.product-footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  padding: 50px;
}

.engage-footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  padding: 50px;
}

/* Forgot Password */
.forgot-password-content {
  background-image: url("../public/images/forgot-password.png");
  background-size: cover;
  /* width: 1440px;
  height: 500px; */
}

.forgot-title {
  color: white;
}

.forgot-contain {
  padding-top: 50px;
}
.forgot-input-email {
  width: 400px;
  height: 70px;
}
.forgot-p {
  text-align: center;
}
.button-forgot-password {
  width: 100px;
  height: 70px;
}

.forgot-note {
  color: white;
  text-align: center;
}
.button-resend-link {
  background-color: #6a4029;
  border-color: #6a4029;
  color: white;
}

/* Dashboard Admin */

.link-dashboard {
  color: black;
}
.button-dashboard {
  background-color: #6a4029;
  border-color: #6a4029;
  color: white;
  width: 100%;
}

@media (max-width: 579.45px) {
  .image-auth {
    display: none;
  }
  /* forgot password */
  .forgot-password-content {
    background-image: url("../public/images/forgot-password.png");
    width: 100%;
  }
  .forgot-input-email {
    width: 100%;
  }
  .image-register {
    display: inline;
  }
}
