@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url(admin/promo/style.css);
@import url(admin/product/product.css);
@import url(profile/profile.css);
@import url(admin/manageOrder//manageOrder.css);
@import url("./textFormating/index.css");
@import url("./productDetails/productDetails.css");
@import url(history-order/style.css);
@import url(landing-page.css);
@import url(auth.css);
@import url(productDetails/product.css);
@import url(history-order/style.css);

*,
html {
	font-family: "Rubik", sans-serif;
	font-size: 1rem;
}

/* Navbar */
.nav-brand-link {
	margin: 0px 14px;
	font-size: 16px;
	color: #4f5665;
	cursor: pointer;
}
.title-brand {
	font-size: 20px;
	font-weight: 700;
	color: #0b132a;
}

.nav-brand-link-active {
	color: #6a4029;
	font-weight: bold;
	font-size: 16px;
}
.nav-profile-image {
	border-radius: 100%;
}
.nav-button-auth-login {
	border: none;
	background-color: transparent;
	font-weight: 600;
}
.nav-button-auth-signup {
	color: #6a4029;
	font-size: 16px;
	font-weight: 500;
	padding: 8px 32px;
	background: #ffba33;
	border-radius: 50px;
	border: none;
}

/* Footer */
.footer-main {
	background-color: #f8f8f8;
}
.footer-title-description {
	color: #4f5665;
	font-weight: 500;
	font-size: 16px;
	width: 58%;
}
.footer-link {
	cursor: pointer;
}
.footer-link:hover {
	text-decoration: underline;
}

.hover-pointer:hover {
	cursor: pointer;
}

/*  MOBILE SCREEN */

@media (max-width: 578.95px) {
	header {
		padding: 0px !important;
	}
	.navbar-brand-logo {
		display: none;
	}
	.title-brand {
		display: none;
	}
	.navbar-link-content {
		display: none;
	}
	.navbar-section-profile {
		width: 100%;
	}

	.nav-profile-icon {
		display: none;
	}
	.nav-icon-mobile {
		display: block;
	}
}
