.background_image {
	background-image: url("/images/bg-hero.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	margin-top: -16px !important;
}
.lp__title {
	font-weight: bold;
	font-size: 45px;
}
.lp__hero_desc {
	font-weight: 300;
	font-size: 19px;
}
.lp__hero_btn {
	padding: 15px 70px !important;
	font-weight: 600 !important;
}
.lp__hero_input {
	background-color: #efeeee !important;
	padding: 15px !important;
	border-radius: 100px !important;
}

.card__hero {
	position: absolute !important;
	bottom: -70px;
	/* left: 0; */
	padding: 35px !important;
	width: 80% !important;
}
.p__icon {
	padding: 0;
	margin: 0;
	font-weight: 500;
	color: #0b132a;
	font-size: 18px;
}
.p__icon_desc {
	color: #4f5665;
}
.ul__check {
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
}
.ul__check li {
	padding: 0;
	margin: 20px 0;
	color: #4f5665;
	font-weight: 400;
}
.ul__checkks li img {
	/* padding: 20px 5px; */
	margin-right: 10px;
}
.icon__li {
	width: 25px;
}

.desc {
	font-size: 16px;
	color: #4f5665;
	font-weight: 400;
}

.title {
	font-weight: 500;
	font-size: 35px;
}
.text__currency {
	font-weight: 500;
	font-size: 25px;
}

.btn__curency {
	border-radius: 50px !important;
	font-weight: bold !important;
	font-size: 50px;
	color: #6a4029 !important;
	padding: 10px !important;
}
.jarak-50 {
	margin-bottom: 50px;
}
.jarak-100 {
	margin-bottom: 100px;
}
.card-body-testimonials {
	cursor: grab;
	margin: 0px 20px;
	border: 2px solid #6a4029 !important;
	border-radius: 10px !important;
}
.card-body-testimonials:active {
	cursor: grabbing;
}
.card-body-testimonials-name {
	color: #0b132a;
	font-weight: 500;
	font-size: 18px;
}
.card-body-testimonials-address {
	color: #4f5665;
	font-size: 14px;
}
.card-body-testimonials-ratings {
	color: #0b132a;
	font-size: 16px;
}
.card-footer-testimonials {
	margin: 20px 0px;
	text-align: justify;
}
.card-footer-testimonials-desc {
	color: #0b132a;
	font-size: 16px;
}

@media (max-width: 575.98px) {
	html,
	* {
		font-family: "Poppins", sans-serif;
		background-color: #f2f2f2;
	}
	hr {
		display: none;
	}
	.main-desktop {
		display: none;
	}
	footer {
		display: none;
	}
	.main-mobile {
		padding: 0px 24px !important;
	}
	.main-mobile-title {
		margin: 32px 0px;
		color: #000000;
		font-weight: bold;
		font-size: 34px;
		width: 86%;
	}
	.main-mobile-search {
		padding: 18px 24px;
		background: #efeeee;
		border-radius: 30px;
		display: flex;
	}

	.home-search {
		color: #000000;
		font-size: 17px;
		font-weight: bolder;
		margin: 0px 6px;
		border: none;
		background-color: transparent;
		width: 100%;
	}

	.container-navigation {
		display: flex;
		overflow-x: auto;
	}
	span {
		white-space: nowrap;
		color: #9a9a9d;
		font-size: 17px;
		margin: 21px 10px 3px;
		display: block;
	}
	span:nth-child(1) {
		border-bottom: 2px solid #6a4029;
		color: #6a4029;
		font-size: 17px;
		margin: 19px 12px;
		display: block;
	}
	.card-product {
		margin: 40px 20px;
		text-align: center;
		height: 100%;
		width: 100%;
	}
	.card-product-image {
		background-color: transparent;
		margin-top: -30px;
		position: relative;
		width: 200px;
	}
	.card-product-title {
		margin: 20px auto;
		color: #000000;
		opacity: 0.9;
		font-size: 22px;
		width: 50%;
		font-weight: 900;
		background-color: transparent;
	}
	.card-product-price {
		margin: 20px auto;
		padding-bottom: 20px;
		color: #6a4029;
		opacity: 0.9;
		font-size: 17px;
		width: 50%;
		font-weight: 900;
		background-color: transparent;
	}

	.list-product-mobile {
		overflow-x: auto;
		display: flex;
	}
}
